@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

body {
    background-image: url(img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#logo {
    height: 50px;
}

header > ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    list-style-type: none;
    background-color: black;
}

main {
    max-width: 1200px;
    margin: auto;
}

#itemprincipal {
    display: block;
    margin: 10% 8% 0px 8%;
    width: 84%;
}

#nome {
    background-color: white;
    color: black;
    text-align: center;
    margin: 0px 8% 10% 8%;
    width: 84%;
    border-radius: 0px 0px 10px 10px;
}

article {
    margin: 0px 20% 10% 20%;
    border-left: 1px solid orange;
    padding-left: 5%;
}

#carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15% 10% 15%;
}

.itempequeno {
    width: 25%;
    filter: brightness(50%);
}

#itemprincipalpequeno {
    width: 40%;
}

#voltar {
    height: 15px;
    transform: scaleX(-1);
    margin: 0px 5px;
}

#proximo {
    height: 15px;
    margin: 0px 5px;
}

footer {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

footer > div {
    width: 40%;
    margin: 5% 0px 5% 0px;
    font-size: 0.48em;
}

#logofooter {
    width: 40%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 5%;
    margin-right: 5%;
}

.socialmedia {
    background-color: white;
    width: 20%;
}